body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

#submit {
  display: none;
}

#input::placeholder {
  color: #ddd;
}

#input {
  font-size: 30px;
  font-weight: 100;
  margin: 20px 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

del {
  color: #ccc;
}

.box {
  max-width: 500px;
  padding: 10px;
  margin: auto;
}

input[type=checkbox] {
  margin: 7px 10px;
}

button {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

#panel-beneath-todos {
  margin-top: 20px;
}

#panel-beneath-todos #button-remove-all-done {
  float: right;
}

#panel-beneath-todos button {
  margin: 10px;
}

.active {
  background-color: lightgreen;
  border-radius: 5px;
}
